
{% extends 'base.html.twig' %}
{% block title %}
Pilgrim's {{ name }}
{% endblock %}
 {% block body%}
<div class="sea-creature-container">
    <div class="genus-photo"></div>
    <div class="genus-details">
        <dl class="genus-details-list">
            <dt>Subfamily:</dt>
            <dd>Octopodinae mais tarde virou setipodinae por que perdeu um dedo</dd>
            <dt>Known Species:</dt>
            <dd>{{ 1990|number_format }}</dd>
            <dt>Fun Fact:</dt>
            <dd>{{ funFact |raw }}</dd>
        </dl>
    </div>
</div>
<div class="notes-container">
    <h2 class="notes-header">Notes</h2>
    <div><i class="fa fa-plus plus-btn"></i></div>
</div>
<section id="cd-timeline">

    {#
    <h1>IT WORKS!</h1>
    {#{{  dump() }}
<ul>
    {% for note in nota %}
        <li>{{ note | lower}}</li>
        <li>{{ note | upper}}</li>
        <li>{{ note }}</li>
    {% endfor %}
</ul>#}
    {% for note in nota %}
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <img src="{{ asset('images/leanna.jpeg') }}" class="img-circle" alt="Leanna!">
            </div>
            <div class="cd-timeline-content">
                <h2><a href="#">Dilma</a></h2>
                <p>{{ note }}</p>
                <span class="cd-date">Dec. 10, 2015</span>
            </div>
        </div>
    {% endfor %}
</section>

 {% endblock %}

